div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .img-logo {
    margin: 0;
    padding: 0;
  }

  p {
    font-family: var(--fontLogoBold);
    margin: 0;
    padding: 0;
  }

  .img-test {
    margin-top: 20px;
  }
}
