@import "./assets/fonts/fonts.scss";

:root {
  /*Fonts*/
  --fontRegular: "Bienale Regular";
  --fontBold: "Bienale Bold";
  --fontLight: "Bienale Light";
  --fontLogoRegular: "Instagram Regular";
  --fontLogoBold: "Instagram Bold";
}
